#thematiques {
  position: fixed;
}

#th-content, #pub-content { /*Liste des thématiques*/
  padding-bottom: 15px;
  font-family: 'Viga', serif;
}

.side_list > li {
  list-style-type: none;
  position: relative;
  left: -30px;
  padding-left: 10px;
}

.side_list > li > a{
  text-decoration: none;
  color: #757575;
}

.side_list > li:hover{
  border-left: 2px solid #01579b ;
}

.side_list  li a:hover {
  color: #01579b;
}

#th-title {
  font-family: 'Viga';
  padding-left: 10px;
  border-bottom: solid 1px #757575;
  color: #757575;
  font-weight: 700;
}

#btn-profil {
  height: 100%;
  color: #01579b;
  font-family: 'Viga';
}

#profil-menu {
  font-family: 'Viga';
}

.mdl-layout__header--waterfall{
   overflow: visible;
}

#center-section {
  margin-top: 32px;
  margin-left: 50px;
}

.post {
  position: relative;
  background-color: white;
  padding: 15px;
  font-family: 'Quicksand', serif;
  width: 100%;
  /*box-shadow: 0 1px 1px 0;*/
  border-radius: 3px;
  margin-bottom: 15px;
}

.post-title a {
  font-family: 'Merriweather' !important;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.post-header {
  font-size: 12px;
  color: #757575;
}

.post-header a {
  color: #01579b;
  text-decoration: none;
  font-weight: bold;
}

.post-text {
  font-size: 16px;
  color: #757575;
  font-weight: 600;
}

.post-footer {
  position: relative;
}

.post-footer button {
  text-transform: capitalize;
  font-family: 'Viga';
  color: #424242;
  font-weight: bold;
  font-size: 12px;
}

.post-footer .daccord {
  color: #01579b;
}

.post-footer .pasdaccord {
  color: #c62828;
}

.post-footer .daccord:hover {
  background-color: #01579b;
  color: white;
}

.post-footer .pasdaccord:hover {
  background-color: #c62828;
  color: white;
}
