<!DOCTYPE html>
<html lang="fr">
<head>
  {%block head%}

  <meta charset="utf-8">
  <title>
    {%block title%}Qibaro - Pour inventer l'avenir{%endblock%}
  </title>

  {# Liens et métadonnées utilisable dans les deux pages (inscription et connexion) #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  <script src="https://use.fontawesome.com/a7f3555ed9.js"></script>

  {%block stylesheet%}
  <link rel="stylesheet" href="../../static/css/index.css"/>
  {%endblock%}
  {%endblock%}

</head>
<body>
  <div class="mdl-layout mdl-js-layout">

    <main class="mdl-layout__content">

      <div class="mdl-grid">

        <div class="mdl-layout-spacer"></div>
        <!-- Zone de connexion et d'inscription -->
        <div class="mdl-cell mdl-cell--4-col">
          <!-- Formulaire d'inscription -->
          <div class="mdl-card mdl-shadow--6dp" id="form-connexion">
            <div class="mdl-card__title">
              <h3 class="mdl-card__title-text"><a href="/" id="logo">Qibaro</a></h3>
              <!-- <small>Osons inventer l'avenir</small> -->
            </div>

            <div class="mdl-card__supporting-text">

              <!-- Boutons de connexion aux réseaux sociaux et inscription -->
              <div id="btns-rs">
                <button type="button" name="btn-facebook" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-rs" id="btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i>
                  Continuer avec Facebook</button>
                <button type="button" name="btn-google" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-rs" id="btn-google"><i class="fa fa-google-plus" aria-hidden="true"></i>
                    Continuer avec Google</button>
              </div>

                  {% block card_text %}

                  {% endblock %}

                  <div id="questions">
                    {% block card_footer %}

                    {% endblock %}
                  </div>

                </div>
              </div>

              <!-- Pied de page  -->
              {% block footer %}
              <footer class="mdl-min-footer">
                <div class="mdl-mini-footer__left-section">
                  <ul class="mdl-mini-footer__link-list" id="footer_list">
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                    <li><a href="#">Vie privée</a></li>
                  </ul>
                </div>
              </footer>
              {% endblock %}

            </div>
            <div class="mdl-layout-spacer"></div>
          </div>

        </main>
      </div>
    </body>
    </html>
