{% extends "index-layout.html" %}

{% block card_text %}
<!-- Formulaire de connexion -->
<form class="" action="#" >
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="i-prenom" class="mdl-textfield__label" >Prénom</label>
    <input type="text" name="i-prenom" class="mdl-textfield__input" id="i-prenom">
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="i-nom" class="mdl-textfield__label" >Nom</label>
    <input type="text" name="i-nom" class="mdl-textfield__input" id="i-nom">
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="i-email" class="mdl-textfield__label" >E-mail</label>
    <input type="text" name="i-email" class="mdl-textfield__input" id="i-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    <span class="mdl-textfield__error">Adresse e-mail non valide !</span>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="c-passwd" class="mdl-textfield__label">Créer un mot de passe</label>
    <input type="password" name="i-passwd" class="mdl-textfield__input" id="i-passwd">
  </div>

  <button type="button" name="btn-inscription" id="btn-inscription" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Inscription</button>
</form>
{% endblock %}

{% block card_footer %}
<span id="card-footer">Déja inscrit? <a href="/">Se connecter</a></span>
{% endblock %}
