#th-content, #pub-content { /*Liste des thématiques*/
  padding-bottom: 15px;
  font-family: 'Open Sans', 'Merriweather', serif;
  /*list-style-position: inside;*/
}

.side_list > li {
  list-style-type: none;
  position: relative;
  left: -30px;
  padding-left: 10px;
}

.side_list > li > a{
  text-decoration: none;
  color: #424242;
}

.side_list > li:hover{
  background-color: #F5F5F5;
}

.side_list > li > a:active {
  background-color: #F5F5F5;
}

#th-title, #pub-title {
  border-bottom: solid 1px;
  border-color: #BDBDBD;
  font-family: 'Open Sans';
}

#btn-profil {
  height: 100%;
  color: white;
  font-family: 'Open Sans';
}

.mdl-layout__header--waterfall{
   overflow: visible;
}
