@font-face {
  font-family: 'basictitlefont';
  src: url('../fonts/basictitlefont.ttf');
}

body {
  margin: 0;
  background-color: #fafafa;
  z-index: -99;
}

.mdl-layout__header-row {
  background-color: white;
/*   background-color: #f5f5f5; */
}

#logo a{
  position: relative;
  font-family: 'basictitlefont';
  font-weight: bolder;
  font-size: 35px;
  text-decoration: none;
  color: #01579b;;
}

.user-profil a {
  padding: 5px;
  color: red;
  text-decoration: none;
}

#footer-left > li > a {
  text-decoration: none;
  font-family: 'Viga', 'Open Sans', serif;
  color: white !important;
}

#footer-left > li > a:hover {
  text-decoration: underline;
}

footer {
  background-color: #424242;
  text-align: center;
}
