@font-face {
  font-family: 'basictitlefont';
  src: url('../fonts/basictitlefont.ttf');
}
@font-face {
  font-family: 'communist';
  src: url(../fonts/COMMUNIS.ttf);
}

html, body {
  height: 100%
}

body {
  background-color: #fafafa;
}

#logo {
  position: relative;
  font-family: 'basictitlefont';
  font-weight: bold;
  font-size: 40px;
  margin-left: 10px;
}

.mdl-layout__header-row {
  background-color: #01579b;
}

a {
  text-decoration: none;
  position: relative;
  font-family: 'communist';
  color: #757575 !important;
}

a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e0e0e0;
  text-align: center;
}
