{% extends 'layout.html'%}

{% block stylesheet %}
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"/>
{% endblock %}


{% block content %}
<div class="mdl-layout-spacer"></div>
<aside class="mdl-cell mdl-cell--2-col">
  <h5>Thématiques</h5>

  <nav class="" id="side-nav">
    <a href="#" class="mdl-button mdl-js-button">Éducation</a>
    <a href="#" class="mdl-button mdl-js-button">Société</a>
    <a href="#" class="mdl-button mdl-js-button">Santé</a>
    <a href="#" class="mdl-button mdl-js-button">Politique</a>
    <a href="#" class="mdl-button mdl-js-button">Économie</a>
    <a href="#" class="mdl-button mdl-js-button">Innovation</a>
    <a href="#" class="mdl-button mdl-js-button">Environnement</a>
    <a href="#" class="mdl-button mdl-js-button">Culture</a>
    <a href="#" class="mdl-button mdl-js-button">Justice</a>
  </nav>
</aside>

<div class="mdl-layout-spacer"></div>
<section class="mdl-cell mdl-cell--9-col" id="center-section">
  <div class="mdl-grid">

    <article class="mdl-cell mdl-cell--4-col post mdl-shadow--4dp mdl-card">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text"><a href="#">Titre de la publication</a></h4>
      </div>

      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <div class="mdl-card-actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">D'accord</a>
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Pas d'accord</a>
      </div>

    </article>

    <article class="mdl-cell mdl-cell--4-col post mdl-shadow--4dp mdl-card">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text"><a href="#">Titre de la publication</a></h4>
      </div>

      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <div class="mdl-card-actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">D'accord</a>
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Pas d'accord</a>
      </div>

    </article>

    <article class="mdl-cell mdl-cell--4-col post mdl-shadow--4dp mdl-card">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text"><a href="#">Titre de la publication</a></h4>
      </div>

      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <div class="mdl-card-actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">D'accord</a>
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Pas d'accord</a>
      </div>

    </article>

    <article class="mdl-cell mdl-cell--4-col post mdl-shadow--4dp mdl-card">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text"><a href="#">Titre de la publication</a></h4>
      </div>

      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="mdl-card-actions mdl-card--border">
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">D'accord</a>
        <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Pas d'accord</a>
      </div>

    </article>

  </div>
</section>
<div class="mdl-layout-spacer"></div>
{% endblock %}
