{% extends "/content/page-layout.html" %}

{% block stylesheet %}
  <link rel="stylesheet" href="../../static/css/home.css"/>
{% endblock %}

{% block nav_block %}

<nav class="user-profil mdl-navigation">
  <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" id="btn-profil">BECKO</button>
</nav>

<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-left" for="btn-profil" id="profil-menu">
  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Profil</li>
  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Compte</li>
  <li class="mdl-menu__item">Déconnexion</li>
</ul>
{% endblock %}

{% block content %}
{# Section des thématiques sur la gauche #}
<section class="mdl-cell mdl-cell--2-col mdl-cell--1-offset" id="left-section">
  <div id="thematiques" class="">
    <div class="side-list-title">
      <h6 id="th-title">Thématiques</h6>
    </div>
    <ul id="th-content" class="side_list">
      <li><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Éducation</a></li>
      <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Société</a></li>
      <li><a href="#"><i class="fa fa-stethoscope" aria-hidden="true"></i> Santé</a></li>
      <li><a href="#"><i class="fa fa-university" aria-hidden="true"></i> Politique</a></li>
      <li><a href="#"><i class="fa fa-usd" aria-hidden="true"></i> Économie</a></li>
      <li><a href="#"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Innovation</a></li>
      <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i> Environnement</a></li>
      <li><a href="#"><i class="fa fa-paint-brush" aria-hidden="true"></i> Culture</a></li>
      <li><a href="#"><i class="fa fa-balance-scale" aria-hidden="true"></i>
Justice</a></li>
    </ul>
  </div>
</section>

{# Section des publications, de la timeline #}
<section class="mdl-cell mdl-cell--6-col" id="center-section">
  <article class="post mdl-shadow--2dp">
    <div class="post-header">
      <img src="" alt="" class="avatar"/>
      <span class="author"><a href="#">Becko Junior Camara</a></span>
      <div class="mdl-layout-spacer"></div>
      <span class="date">23 décembre 2016, 14:00</span>
    </div>

    <div class="post-content">
      <h3 class="post-title"><a href="#">Titre de la publication</a></h3>

      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <hr>

    <div class="post-footer">
      <button type="button" name="button" class="mdl-button mdl-js-button daccord"><i class="fa fa-arrow-up" aria-hidden="true"></i>
D'accord</button>
    <button type="button" name="button" class="mdl-button mdl-js-button pasdaccord"><i class="fa fa-arrow-down" aria-hidden="true"></i>
Pas d'accord</button>
    </div>
  </article>

  <article class="post mdl-shadow--3dp">
    <div class="post-header">
      <img src="" alt="" class="avatar"/>
      <span class="author"><a href="#">Becko Junior Camara</a></span>
      <div class="mdl-layout-spacer"></div>
      <span class="date">23 décembre 2016, 14:00</span>
    </div>

    <div class="post-content">
      <h3 class="post-title"><a href="#">Titre de la publication</a></h3>

      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <hr>

    <div class="post-footer">
      <button type="button" name="button" class="mdl-button mdl-js-button daccord"><i class="fa fa-arrow-up" aria-hidden="true"></i>
D'accord</button>
      <button type="button" name="button" class="mdl-button mdl-js-button pasdaccord mdl-badge mdl-badge--overlap" data-badge="2"><i class="fa fa-arrow-down" aria-hidden="true"></i>
Pas d'accord</button>
      {# <button type="button" name="button">Partager</button> #}
    </div>
  </article>

  <article class="post mdl-shadow--3dp">
    <div class="post-header">
      <img src="" alt="" class="avatar"/>
      <span class="author"><a href="#">Becko Junior Camara</a></span>
      <div class="mdl-layout-spacer"></div>
      <span class="date">23 décembre 2016, 14:00</span>
    </div>

    <div class="post-content">
      <h3 class="post-title"><a href="#">Titre de la publication</a></h3>

      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <hr>

    <div class="post-footer">
      <button type="button" name="button" class="mdl-button mdl-js-button daccord"><i class="fa fa-arrow-up" aria-hidden="true"></i>
D'accord</button>
      <button type="button" name="button" class="mdl-button mdl-js-button pasdaccord"><i class="fa fa-arrow-down" aria-hidden="true"></i>
Pas d'accord</button>
      {# <button type="button" name="button">Partager</button> #}
    </div>
  </article>

  <article class="post mdl-shadow--3dp">
    <div class="post-header">
      <img src="" alt="" class="avatar"/>
      <span class="author"><a href="#">Becko Junior Camara</a></span>
      <div class="mdl-layout-spacer"></div>
      <span class="date">23 décembre 2016, 14:00</span>
    </div>

    <div class="post-content">
      <h3 class="post-title"><a href="#">Titre de la publication</a></h3>

      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <hr>

    <div class="post-footer">
      <button type="button" name="button" class="mdl-button mdl-js-button daccord"><i class="fa fa-arrow-up" aria-hidden="true"></i>
D'accord</button>
      <button type="button" name="button" class="mdl-button mdl-js-button pasdaccord"><i class="fa fa-arrow-down" aria-hidden="true"></i>
Pas d'accord</button>
      {# <button type="button" name="button">Partager</button> #}
    </div>
  </article>

  <article class="post mdl-shadow--3dp">
    <div class="post-header">
      <img src="" alt="" class="avatar"/>
      <span class="author"><a href="#">Becko Junior Camara</a></span>
      <div class="mdl-layout-spacer"></div>
      <span class="date">23 décembre 2016, 14:00</span>
    </div>

    <div class="post-content">
      <h3 class="post-title"><a href="#">Titre de la publication</a></h3>

      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <hr>

    <div class="post-footer">
      <button type="button" name="button" class="mdl-button mdl-js-button daccord"><i class="fa fa-arrow-up" aria-hidden="true"></i>
D'accord</button>
      <button type="button" name="button" class="mdl-button mdl-js-button pasdaccord"><i class="fa fa-arrow-down" aria-hidden="true"></i>
Pas d'accord</button>
      {# <button type="button" name="button">Partager</button> #}
    </div>
  </article>

  <article class="post mdl-shadow--3dp">
    <div class="post-header">
      <img src="" alt="" class="avatar"/>
      <span class="author"><a href="#">Becko Junior Camara</a></span>
      <div class="mdl-layout-spacer"></div>
      <span class="date">23 décembre 2016, 14:00</span>
    </div>

    <div class="post-content">
      <h3 class="post-title"><a href="#">Titre de la publication</a></h3>

      <p class="post-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <hr>

    <div class="post-footer">
      <button type="button" name="button" class="mdl-button mdl-js-button daccord"><i class="fa fa-arrow-up" aria-hidden="true"></i>
D'accord</button>
      <button type="button" name="button" class="mdl-button mdl-js-button pasdaccord"><i class="fa fa-arrow-down" aria-hidden="true"></i>
Pas d'accord</button>
      {# <button type="button" name="button">Partager</button> #}
    </div>
  </article>

</section>
<div class="mdl-layout-spacer"></div>
{% endblock %}
