{% extends "signing/layout.html" %}

{% block card_text %}
<!-- Formulaire de connexion -->
<form class="" action="{{url_for('signing_b.signup')}}" method="post">

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.csrf_token }}
    {{form.prenom.label(class_ = 'mdl-textfield__label')}}
    {{form.prenom(class_ = 'mdl-textfield__input')}}
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.csrf_token }}
    {{form.nom.label(class_ = 'mdl-textfield__label')}}
    {{form.nom(class_ = 'mdl-textfield__input')}}
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.csrf_token }}
    {{form.email.label(class_ = 'mdl-textfield__label')}}
    {{form.email(class_ = 'mdl-textfield__input')}}
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.csrf_token }}
    {{form.passwd.label(class_ = 'mdl-textfield__label')}}
    {{form.passwd(class_ = 'mdl-textfield__input')}}
  </div>

  <button type="submit" name="btn-inscription" id="btn-inscription" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Inscription</button>
</form>
{% endblock %}

{% block card_footer %}
<span id="i-card-footer">Déja inscrit? <a href="{{url_for('.signin')}}">Se connecter</a></span>
{% endblock %}
