<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="utf-8">
  <title>
    {%block title%}Qibaro - Pour oser inventer l'avenir{%endblock%}
  </title>

  {# Liens et métadonnées utilisable dans les deux pages (inscription et connexion) #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Martel:30|Viga|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  <script src="https://use.fontawesome.com/a7f3555ed9.js"></script>
  <link rel="stylesheet" href="{{url_for('.static', filename='index_layout.css')}}"/>

  {%block stylesheet%}

  {%endblock%}

</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header mdl-layout__header--waterfall mdl-shadow--6dp" id="header">
      <div class="mdl-layout__header-row" id="header-row">
        <span class="mdl-layout-title" id="logo"><a href="/">Qibaro</a></span>

        <div class="mdl-layout-spacer"></div>
        {% block nav_block %}

        {% endblock %}
      </div>
    </header>

    <main class="mdl-layout__content">

      <div class="mdl-grid" id="content">
        {% block content %}

        {% endblock %}
      </div>

      <!-- Pied de page  -->
      <footer class="mdl-min-footer">
        <div class="mdl-mini-footer__left-section">
          <ul class="mdl-mini-footer__link-list" id="footer-left">
            <li><a href="#">À propos</a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
            <li><a href="#">Vie privée</a></li>
            <li><a href="#">Nous rejoindre</a></li>
            <li><a href="#">Nous contacter</a></li>
          </ul>
        </div>
      </footer>
    </main>
  </div>
</body>
</html>
