.mdl-navigation button {
  color: white;
  font-family: 'Viga', 'Open Sans', serif;
}

#profil-menu li a {
  font-family: 'Viga', 'Open Sans', serif;
  text-decoration: none;
  color: #757575;
}

.mdl-layout__header--waterfall{
   overflow: visible;
}

.mdl-layout__drawer-button {
  position: relative;
  top: -8px;
  color: white !important;
  background-color: #01579b !important;
}

.post {
  max-height: 620px !important;
  position: relative;
  background-color: white;
  padding: 10px;
  font-family: 'Martel', serif;
  /*border-radius: 3px;*/
  margin-bottom: 10px;
}

.mdl-card__title-text {
  font-family: 'Playfair Display', serif !important;
  color: black;
}

.mdl-card__title-text a {
  text-decoration: none;
  color: black;
}

.mdl-card__title-text a:hover {
  color: #01579b;
}

.mdl-card .mdl-card__supporting-text {
  max-height: 200px !important;
  text-align: justify;
  font-size: 14px;
  color: #757575;
}

.mdl-card-actions {
  position: relative;
  margin-top: 5px;
}

.mdl-card-actions a {
  font-size: 12px;
  font-family: 'Viga', 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  color: #757575;
  padding-left: 2px;
  padding-right: 2px;
}
