.mdl-navigation button {
  color: #757575;
  font-family: 'Viga', 'Open Sans', serif;
}

#profil-menu {
  font-family: 'Viga', 'Open Sans', serif;
}

.mdl-layout__header--waterfall{
   overflow: visible;
}

#thematiques {
  position: fixed;
}

#th-content { /*Liste des thématiques*/
  padding-bottom: 15px;
  font-family: 'Viga', 'Open Sans', serif;
  width: 100%;
}

.side_list > li {
  list-style-type: none;
  position: relative;
  left: -40px;
  width: 100%;
  /*margin-bottom: 10px;*/
}

.side_list > li > a{
  text-decoration: none;
  position: relative;
  display: block;
  color: #757575;
  padding: 5px;
}

.side_list > li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  border-left: solid 2px #01579b;
  padding-left: 5px;
}

.side_list > li a:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  border-left: solid 2px #01579b;
  padding-left: 5px;
}

#th-title {
  font-family: 'Open Sans';
  border-bottom: solid 1px #757575;
  color: #757575;
}

#center-section {
  margin-top: 32px;
}

.post {
  max-height: 621px !important;
  position: relative;
  background-color: white;
  padding: 15px;
  font-family: 'Martel', serif;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 15px;
}

.post-title a {
  font-family: 'Josefin Sans' !important;
  color: black;
  text-decoration: none;
}

.post-header {
  font-size: 12px;
  color: #757575;
}

.post-header a {
  color: #01579b;
  text-decoration: none;
}

.post-text {
  font-size: 16px;
  color: #757575;
}

.post-footer {
  position: relative;
  font-family: 'Viga', 'Open Sans', sans-serif;
  color: #757575;
  font-size: 12px;
}

.points {
  margin-left: 10px;

}

.post-footer button {
  text-transform: capitalize;
  font-family: 'Viga', 'Open Sans', sans-serif;
  color: #757575;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}
