{% extends "signing_layout.html" %}

{% block card_text %}
<!-- Formulaire de connexion -->
<form class="" action="{{url_for('.signin')}}" method="POST">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.csrf_token }}
    {{form.email.label(class_='mdl-textfield__label')}}
    {{form.email(class_= 'mdl-textfield__input')}}
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.csrf_token }}
    {{form.passwd.label(class_ = 'mdl-textfield__label')}}
    {{form.passwd(class_ = 'mdl-textfield__input')}}

    {# <label for="c-passwd" class="mdl-textfield__label">Mot de passe</label>
    <input type="password" name="c-passwd" class="mdl-textfield__input" id="c-passwd"> #}
  </div>

  <button type="submit" name="btn-connexion" id="btn-connexion" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Connexion</button>
</form>
{% endblock %}

{% block card_footer %}
<a href="#" id="passw-recov">Mot de passe oublié?</a>
<a href="{{url_for('.signup')}}" id="signup">S'inscrire</a>
{% endblock %}
