{% extends "signing_layout.html" %}

{% block card_text %}
<!-- Formulaire de connexion -->
<form class="" action="#" >
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="c-email" class="mdl-textfield__label" >E-mail</label>
    <input type="text" name="c-email" class="mdl-textfield__input" id="c-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    <span class="mdl-textfield__error">Adresse e-mail non valide !</span>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="c-passwd" class="mdl-textfield__label">Mot de passe</label>
    <input type="password" name="c-passwd" class="mdl-textfield__input" id="c-passwd">
  </div>

  <button type="button" name="btn-connexion" id="btn-connexion" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Connexion</button>
</form>
{% endblock %}

{% block card_footer %}
<a href="#" id="passw-recov">Mot de passe oublié?</a>
<a href="{{url_for('.signup')}}" id="signup">S'inscrire</a>
{% endblock %}
